.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
}

.header-img {
    object-fit: contain;
    height: 60px;
    margin-left: 20px;
}

.search-bar {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 30px;
}

.search-bar>input {
    border: none;
    padding: 10px;
    outline-width: 0;
    width: 250px;
}

.host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}